In [1]:
import pandas as pd
from collections import Counter
from utils import read_json, sort_dict

## Color Dataset

In [2]:
df = pd.read_csv('../results/colors.csv')
data = read_json('../results/colors.json')

### Typical Colors

In [9]:
_names = df['object'].tolist()

df['typical'] = [','.join(list(data[_])) for _ in _names]

In [10]:
df.head()

,object,entropy,total,red,orange,yellow,brown,green,blue,purple,pink,white,gray,black,typical
0,steel tap,0.0,45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,gray
1,metal silver,0.0,105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,gray
2,chrome hubcap,0.0,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,gray
3,chrome faucet,0.0,166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,gray
4,steel faucet,0.0,120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,gray

In [38]:
typ_cols = []
for _, col2freq in data.items():
    typ_cols += list(col2freq)

typ_cols = dict(Counter(typ_cols))
typ_cols = sort_dict(typ_cols, by='v', reverse=True)

pd.DataFrame(typ_cols.items(), columns=['color', 'freq'])

     color  freq
0    white  7634
1    black  6181
2    brown  5141
3     gray  4362
4     blue  3200
5      red  2550
6   yellow  1720
7    green  1653
8   orange  1031
9     pink   236
10  purple    67

In [ ]:
# _df.plot.bar(x='object', stacked=True, color=color_set,
#              edgecolor="lightgray", figsize=(40, 24), rot=90)
# plt.xticks(fontsize=16); plt.legend(loc=(1.02, 0)); plt.show()

### Uni-Bi-Tri-Many (UBTM)

In [12]:
def _typ2cat(cols: str) -> str:
    n = len(cols.split(','))
    if n == 1:
        return 'uni'
    elif n == 2:
        return 'bi'
    elif n == 3:
        return 'tri'
    else:
        return 'many'

df['category'] = df['typical'].apply(lambda x: _typ2cat(x))

df['category'].value_counts()

uni     5485
many    3864
bi      3388
tri     1606
Name: category, dtype: int64

### Object Frequency

In [41]:
df['total'].describe()

count    14343.000000
mean       529.314160
std       1562.560102
min          1.000000
25%         41.000000
50%        127.000000
75%        411.000000
max      54592.000000
Name: total, dtype: float64

In [42]:
df[df['total'] < 10]['total'].value_counts()

9    82
8    65
7    43
6    29
5    28
4    21
2    12
3    10
1     7
Name: total, dtype: int64